body{
    margin: auto;
    background-color: (#999999);
    color: black;
    max-width: 670px;
}
#elsolep{
    width: 650px;
    height: 200px;
    margin: auto;
}
table{
    width: 670px;
    margin: auto;
    background-color: whitesmoke;
    
}
#belso{
    background-color: (#485808);
    height: 60pt;
    margin: auto;
}
#can{
    border: 1pt solid black;
    margin:0 auto;
    display: block;
}
li{
    
}